{{ partial "header.html" . }}

<div class="flex flex-grow pt-8">
    <main role="main">
        <div class="container-max-md pb-8">

            <article itemscope itemtype="https://schema.org/AboutPage">
                <header>
                    <h1 itemprop="name">
                        {{ .Title }}
                    </h1>
                </header>

                <div itemprop="text">
                    {{ .Content }}
                </div>

                <span class="divider"></span>

                {{ partial "lastmodified.html" . }}
            </article>

        </div>
    </main>
</div>

{{ partial "footer.html" . }}