<!doctype html>
<html lang="{{ site.LanguageCode | default site.Language.Lang  }}">
<head>
    {{ partial "header/meta.html" . }}
    {{ partial "header/links.html" . }}
    {{ partial "header/assets.html" . }}
</head>

<body class="min-h-screen flex flex-col">
<div class="grow-0">
    <header class="w-full bg-turmeric py-6 shadow z-10">
        <div class="container-max-md flex justify-between items-center">
            {{ partial "logo.html" . }}
            <nav class="hidden md:block" aria-labelledby="menu-title">
                <h1 id="menu-title" class="sr-only">Menu</h1>
                <ul class="inline-flex gap-x-16">
                    {{- range site.Menus.main }}
                    <li>
                        <a class="text-lg hover:text-terracotta fancy-border fancy-border-terracotta"
                           href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    </li>
                    {{- end -}}
                </ul>
            </nav>
            <button id="js-mobile-menu-open" type="button" class="hover:text-terracotta md:hidden" aria-label="Open menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>
    </header>
</div>

<div class="flex flex-grow pt-8">
    <main role="main">