{{ partial "header.html" . }}

<div class="container-max-md pb-8">

    <article itemprop="mainEntity">
        <header>
            <h1 itemprop="name">
                {{ .Title }}
            </h1>
        </header>

        <div itemprop="text">
            {{ .Content }}

            <h2>Latest observation</h2>


            <h2>Books I'm currently reading:</h2>
            {{ with .GetPage "books" }}
                {{- $startSectionDelimiter := "<!-- start currently reading -->" -}}
                {{- $endSectionDelimiter := "<!-- end currently reading -->" -}}

                <!-- split on first breakpoint -->
                {{- $rawContentSections := split .RawContent $startSectionDelimiter -}}
                <!-- use only content after breakpoint -->
                <!-- then split again on second breakpoint -->
                {{- $rawContentSections := split (index $rawContentSections 1) $endSectionDelimiter -}}

                <!-- render the first index, which contains everything between the 2 breakpoints -->
                {{ index $rawContentSections 0 | .RenderString }}
            {{ end }}

            <h2>Most recent articles:</h2>
            <ul>
                {{ range (where .Site.Pages "Section" "articles") }}
                {{ range .Pages.Limit 3 }}
                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
        </div>

        <span class="divider"></span>

        {{ partial "lastmodified.html" . }}
    </article>

</div>

{{ partial "footer.html" . }}