{{ partial "header.html" . }}

<div class="flex flex-grow pt-8">
    <main role="main">
        <div class="container-max-md pb-8">

            <article class="" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/BlogPosting">
                <header class="my-4">
                    <h1 itemprop="headline">
                        {{ .Title }}
                    </h1>
                    <p class="article-details">
                        {{ partial "time/datePublished.html" (dict "time" .Date) }}
                        {{ partial "author.html" }}
                    </p>
                </header>

                <div itemprop="articleBody">
                    {{ .Content }}
                </div>

            </article>

        </div>
    </main>
</div>

{{ partial "footer.html" . }}